<% if logged_in? %>
    <div class="row">
      <aside class="col-md-4">
        <section class="user_info">
          <%= render 'shared/user_info' %>
        </section>
        <section class="stats">
          <%= render 'shared/stats' %>
        </section>
      </aside>
    </div>
<% else %>
  <% provide(:title, t(:home))	%>
  <div	class="center	jumbotron">
    <h1> <%= t :fels %></h1>
    <h2>
      <%= t :sub_title %>
    </h2>
    <%= link_to t(:signup), signup_path, class: "btn btn-lg btn-primary" %>
  </div>
<% end %>