<footer class="footer">

  <nav>
    <ul>
      <li><%= link_to (t :home), root_path %></li>
      <li><%= link_to (t :price), pricing_path %></li>
      <li><%= link_to (t :faq), faq_path %></li>
      <li><%= link_to (t :blog), blog_path %></li>
      <li><%= link_to (t :translator), translator_path %></li>
      <li><%= link_to (t :pp), privacy_policy_path %></li>
      <li><%= link_to (t :contact), contact_path %></li>


    </ul>
  </nav>
</footer>